<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="startProcess()">cargar loader</ion-button>

  <app-loader 
    *ngIf="showLoader"
    [imageSet]="['https://t3.ftcdn.net/jpg/06/34/95/96/360_F_634959657_eYdEsumt2yWBzfRiVcbiyWCbjpXn3jt4.jpg', 'https://cdn.pixabay.com/photo/2024/02/22/05/40/natural-scenery-8589165_640.jpg']" 
    [textSet]="['Cargando...', 'Por favor, espere...']"
    [intervalTime]="2000">
  </app-loader>
</ion-content>
